{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -33.5449462,
    "longitude": -70.59819319090909,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Casa",
    "time_zone": "America/Santiago",
    "external_url": null,
    "internal_url": null,
    "currency": "CLP",
    "country": "CL",
    "language": "es",
    "radius": 100
  }
}